# s5507q keyboard
CONFIG_HID_ASUS_VIVOBOOK_S15=y

# ASPM
CONFIG_PCIEASPM=y
CONFIG_PCIEASPM_POWERSAVE=y

# CONFIG_KERNEL_ZSTD is not set

# CONFIG_DTPM_CPU is not set
# CONFIG_DTPM_DEVFREQ is not set
# CONFIG_DTPM is not set

CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_COMPRESS_DEFAULT="deflate"
CONFIG_PSTORE_ZSTD_COMPRESS=y
# CONFIG_PSTORE_LZ4_COMPRESS is not set
# CONFIG_PSTORE_LZ4HC_COMPRESS is not set
# CONFIG_PSTORE_LZO_COMPRESS is not set
